<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Score Evaluation</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="page-container">
    <!-- Score Evaluation Form -->
    <form (ngSubmit)="submitScores()" #scoreForm="ngForm">
      <!-- Group Selection -->
      <ion-button expand="full" (click)="goToRankings()">To Rankings</ion-button>
      <ion-item>
        <ion-label>Select Group</ion-label>
        <ion-select [(ngModel)]="selectedGroupId" name="group" required>
          <ion-select-option *ngFor="let group of groups" [value]="group.id">
            {{ group.groupName || 'Unnamed Group' }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Score Inputs -->
      <ion-item>
        <ion-label position="floating">Business Plan Score</ion-label>
        <ion-input type="number" [(ngModel)]="businessPlanScore" name="businessPlanScore" min="0" max="30" required></ion-input>
      </ion-item>
      <p>(Zero) 0 - 30 (Thirty)</p>

      <ion-item>
        <ion-label position="floating">Marketing Plan Score</ion-label>
        <ion-input type="number" [(ngModel)]="marketingPlanScore" name="marketingPlanScore" min="0" max="10" required></ion-input>
      </ion-item>
      <p>(Zero) 0 - 10 (Ten)</p>

      <ion-item>
        <ion-label position="floating">Web Page Score</ion-label>
        <ion-input type="number" [(ngModel)]="webPageScore" name="webPageScore" min="0" max="10" required></ion-input>
      </ion-item> 
      <p>(Zero) 0 - 10 (Ten)</p>

      <ion-button expand="full" type="submit" [disabled]="!scoreForm.form.valid">Submit Scores</ion-button>
    </form>
    
  </div>
</ion-content>
