<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitForm()" class="form">
    <p class="title">ScoreHUB</p>
    <p class="message">Add Group to ScoreHUB</p>
    <div class="flex">
      <label>
        <input required placeholder="" type="text" class="input" [(ngModel)]="groupId" name="groupId">
        <span>Group ID</span>
      </label>

      <label>
        <input required placeholder="" type="text" class="input" [(ngModel)]="groupName" name="groupName">
        <span>Group Name</span>
      </label>
    </div>

    <label>
      <input required placeholder="" type="text" class="input" [(ngModel)]="description" name="description">
      <span>Description</span>
    </label>

    <button type="submit" class="submit">Submit</button>
  </form>
</ion-content>
